---
  const personalImageAlt = "Matias Acevedo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-600/80 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p><strong></strong>
      Soy Matias, <strong>Java Developer</strong> y <strong>Team Lead</strong> en No Country - Simulación Laboral IT. Busco oportunidades para desarrollar soluciones robustas y escalables con <strong>Java</strong> y <strong>Spring Boot</strong>.
    </p>

    <p>
      He <strong>liderado equipos</strong> multidisciplinarios, multiculturales y multigeneracionales, <strong>creando MVPs</strong> exitosos.
    </p>

    <p>
      Mis fortalezas incluyen habilidades en <strong>backend</strong>, <strong>frontend</strong>, <strong>liderazgo</strong> y <strong>resolución de problemas</strong>.
    </p>

    <p>
      Mi experiencia previa en roles de <strong>atención al cliente</strong>, <strong>comerciante</strong> y <strong>emprendedor</strong> me ha otorgado una perspectiva única y <strong>habilidades interpersonales</strong> valiosas que aplico diariamente en mi trabajo, facilitando la <strong>comunicación efectiva</strong>, la <strong>escucha activa</strong> y la <strong>resolución de conflictos</strong>.
    </p>

    <p>
      Soy <strong>ordenado</strong>, <strong>dedicado</strong>, <strong>apasionado</strong> por la tecnología y disfruto el <strong>trabajo en equipo</strong> para llevar proyectos desde la concepción hasta la <strong>implementación exitosa</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/matias.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
