---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente - 2023",
    title: "Backend, Team Lead, Frontend",
    company: "No Country",
    description: "Desarrollé aplicaciones web utilizando Java, Spring Boot, React y TypeScript, implementando APIs RESTful seguras y eficientes con Spring Security y JWT. Manejé bases de datos relacionales y gestioné despliegues con Docker. Realicé pruebas unitarias e integración. Generé documentación de la API y coordiné equipos bajo metodologías ágiles. Además, llevé a cabo revisiones de código, mentoricé a desarrolladores y me encargué del diseño y maquetación de interfaces de usuario responsivas.",
    link: "https://drive.google.com/file/d/1A1BdHUR54otl3gF_kZdjZFcbQJqA2y3R/view?usp=sharing", 
  },
  {
    date: "2022 - 2012",
    title: "Comerciante, Vendedor, Atención al Cliente, Emprendedor",
    company: "Comercios Varios",
    description: "Operé y gestioné comercios como verdulería, almacén y resto-bar con venta de menús y delivery. En el negocio de almacén y verdulería, me encargaba de la venta, compra y reposición de mercadería, así como de la coordinación y gerencia en general. Administré y gestioné el bar, organizando los turnos y la logística de repartos, coordinando empleados y equipos de trabajo en la cocina y el salón, además de encargarme del inventario, el stock y el cierre de caja. Además, brindé atención al cliente en diversos roles, incluyendo operador de call-center, venta de préstamos personales, gestiones de cobranzas personalizadas y venta de planes de ahorro de autos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
